:root{
    --primary:black;
    --secondary:white;
    --line:rgb(247, 12, 51);
    --third:blue;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    scroll-behavior: smooth;
}

body {
  background-image: url('src/assets/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo span {
  color: #ff4a57;
  font-weight: normal;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #ff4a57;
}


/*Home page*/

.container{
    color: var(--secondary)
}